<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "khoi - blog.jpeg" %>
  </div>

  <div id="content">
    <h1>Hi, I am Khoi Nguyen</h1>
    <p>This is a blog app that I built in Rails 4.</p>
    <p>Building this app will help me learn more about Rails, which I why I decided to call it Bloggercise.</p>
  </div>
</div>